:root {
    background-color: #F9F8F6;
}

.slide-out-up {
    animation: slideOutUp 0.5s forwards ease-out;
}

@keyframes slideOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
        height: 0;
        display:none;
        margin:0;
        font-size: 12px;
    }
}